body {
    width: 800px;
    margin: 30px auto;
}

#header {
    font-family: 'Share Tech Mono';
    font-size: 16px;
    line-height: 17px;
}

#flags {
    width: 16px;
    position: relative;
    left: -26px;

    float: left;
}

#flags img {
    cursor: pointer;
}


#body {
    float: left;

    position: relative;
    left: -14px;
    padding: 2px;
    width: 750px;
}

.repo {
    width: auto;
    text-align: right;
}
